@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    body{
        background-color: hsl(0, 0%, 94%);
    }

    .inputFields div{
        width:30%;
        max-width: 100px;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        color:hsl(0, 0%, 45%);
    }

    .inputFields div input{
        /* width: 60%; */
        border-radius: 0.2rem;
        font-size: 1rem;
        color:  hsl(0, 0%, 8%);
        font-weight: 
        700;
        outline: none;
        padding: 0.5rem;
    }

    .inputFields div input:focus{
       outline: none;
    }

    .age span{
        color: hsl(259, 100%, 65%);
    }

    .arrow{
        background-color:   hsl(259, 100%, 65%);
    }
    
    button:hover{
        background-color: black;
    }

    .borderError{
        border: 1px solid  hsl(0, 100%, 67%);
    }


    .noError{
        border: 1px solid  hsl(0, 0%, 86%);
    }

    .errorState{
    color: hsl(0, 100%, 67%);
    }
}